# Build directories
build/
Build/
out/
dist/

# CMake cache and files
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake

# IDEs
.vscode/
.vs/
*.vcxproj.user
*.xcworkspace/
.idea/

# Object files and libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.md
*.drawio

# Compiled Python
*.pyc
__pycache__/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo
*~
.#*

# External libraries
lib/

# Save data
Save_Games/

# Misc
.env
.local
QandA.txt
